* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ce1322;
}

header {
    text-align: center;
    margin: 20px;
    color: white;
}

section {
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 10px 20px 20px;
    width: 50%;
    border-radius: 10px;
    background-color: white;
}

p {
    font-size: 1.1em;
    font-weight: bold;
}

#tabuada {
    margin-top: 10px;
}

#camp_num {
    position: absolute;
    font-size: 1.1em;
    width: 10%;
}

#btn_gt {
    position: relative;
    top: 50%;
    left: 45%;
    padding: 3px;
    transform: translate(-55% -50%);
}

#camp_tabuada {
    width: 60%;
    margin: 20px 10px 20px 0px;
}

option {
    padding: 5px;
}

footer {
    text-align: center;
    color: white;
}

